
/****************************
Body Section
****************************/
body {
    // Default padding: 15px; url('../assets/img/Andromeda.jpg') no-repeat center center;
    background: url('../assets/img/space-planet.jpg') no-repeat center center; 
    font-size: 16px;
    color: beige;
}

header {
    background: transparent;
    color: beige;
    text-align: center;
}

// .section-title h2 {
//     display: inline-block;
//     font-size: 30px;
//     font-weight: 300;
//     line-height: 30px;
//     margin-bottom: 40px;
//     padding-bottom: 10px;
//     position: relative;
//   }
