/* CSS code for the jumbotron section. */
.jumbotron {
    // initial value = padding-top: 8rem; padding-bottom 8rem;
    background: transparent;
    color: yellow;
    padding-top: 1px;
    padding-bottom: 1px;
    // initial value = max-width: 60rem;
    max-width: 100%; 
}

#jumbotron-text {
color: beige;
}